@{
    this.ViewData["Title"] = "Tables";
}

<div class="container" style="padding-bottom: 70px">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div>
        <table class="table table-striped table-active">
            <thead>
                <tr>
                    <th scope="col" class="text-center all-reservations">#</th>
                    <th scope="col" class="text-center all-reservations">Table Number</th>
                    <th scope="col" class="text-center all-reservations">Number Of Seats</th>
                    <th scope="col" class="text-center all-reservations">Table Shape</th>
                    <th scope="col" class="text-center all-reservations">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    @foreach (var table in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td class="text-center">@table.TableNumber</td>
                            <td class="text-center">@table.NumberOfSeats</td>
                            <td class="text-center">@table.ShapeOfTable</td>

                            <td class="text-center">
                                <ul style="padding-left: 0">
                                    <li class="nav-link">Edit</li>
                                    <li class="nav-link">Delete</li>
                                </ul>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>