@{
    this.ViewData["Title"] = "Reservations";
}
<div class="container" style="padding-bottom: 70px">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div>
        <table class="table table-striped table-active">
            <thead>
                <tr>
                    <th scope="col" class="text-center all-reservations">#</th>
                    <th scope="col" class="text-center all-reservations">Client Name</th>
                    <th scope="col" class="text-center all-reservations">Table Number</th>
                    <th scope="col" class="text-center all-reservations">Number Of People</th>
                    <th scope="col" class="text-center all-reservations">Date And Time Of Creation</th>
                    <th scope="col" class="text-center all-reservations">Date And Time Of Reservation</th>
                    <th scope="col" class="text-center all-reservations">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    @foreach (var reservation in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td class="text-center">@reservation.UserFullName</td>
                            <td class="text-center">@reservation.TableTableNumber</td>
                            <td class="text-center">@reservation.NumberOfPeople</td>
                            <td class="text-center">@reservation.CreatedOnInString</td>
                            <td class="text-center">@reservation.DateAndTimeOfReservationInString</td>
                            <td class="text-center">
                                <ul style="padding-left: 0">
                                    <li class="nav-link">Edit</li>
                                    <li class="nav-link">Delete</li>
                                </ul>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>