<section class="flex-fill d-flex align-items-center" style="height: 30%">
</section>
<div class="container" style="padding-bottom: 70px">
    <h1 class="text-center">Your Reservations</h1>
    <div>
        <table class="table table-striped table-active">
            <thead>
                <tr>
                    <th scope="col" class="text-center" style="color: #d9ba85">#</th>
                    <th scope="col" class="text-center" style="color: #d9ba85">User Name</th>
                    <th scope="col" class="text-center" style="color: #d9ba85">Table Number</th>
                    <th scope="col" class="text-center" style="color: #d9ba85">Number Of People</th>
                    <th scope="col" class="text-center" style="color: #d9ba85">Date And Time Of Creation</th>
                    <th scope="col" class="text-center" style="color: #d9ba85">Date And Time Of Reservation</th>
                    <th scope="col" class="text-center" style="color: #d9ba85">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    @foreach (var reservation in Model)
                    {
                        count++;
                <tr>
                    <th scope="row">@count</th>
                    <td class="text-center">@reservation.UserFullName</td>
                    <td class="text-center">@reservation.TableTableNumber</td>
                    <td class="text-center">@reservation.NumberOfPeople</td>
                    <td class="text-center">@reservation.CreatedOnInString</td>
                    <td class="text-center">@reservation.DateAndTimeOfReservationInString</td>
                    <td class="text-center">
                        <ul style="padding-left: 0">
                            <li class="nav-link">Edit</li>
                            <li class="nav-link">Delete</li>
                        </ul>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>